.slider-container {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.slide {
    width:100%;
    display: none;
    height: 600px;
    
    object-fit: contain;
}

.slide.active {
    display: block;
    animation: fadeEffect 0.6s; /* Սահուն հայտնվելու էֆեկտ */
}

@keyframes fadeEffect {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

/* Կոճակներ */
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    z-index: 10;
}
.prev-btn { left: 10px; }
.next-btn { right: 10px; }

/* Կետիկների կոնտեյները */
.dots-container {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

/* Կետիկների ոճը */
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: rgba(25px, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
}

/* Ակտիվ կետիկի գույնը */
.dot.active, .dot:hover {
    background-color: #fff;
}